dialog {
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

dialog h1 {
    color: #1b4965;
    font-size: 30px;
}

dialog p {
    margin: 20px 0;
    font-size: 20px;
}


dialog button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1b4965;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.3s;
    font-size: 15px;
}

dialog button:hover {
    transform: scale(1.05);
}

::backdrop {
    background-color: rgba(0 0 0 / 50%)
}

@media (max-width: 650px) {
    dialog {
        width: 100%;
        box-shadow: 0 0 0;
    }
}

@media (max-width: 550px) {
    dialog h1 {
        font-size: 20px;
    }

    dialog p {
        font-size: 15px;
    }

    dialog button {
        font-size: 12px;
    }
}