.thank-you {
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.thank-you h1 {
    color: #1b4965;
    font-size: 30px;
}

.thank-you p {
    margin: 20px 0;
    font-size: 20px;
}


.thank-you button {
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1b4965;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.3s;
    font-size: 15px;
}

.thank-you button:hover {
    transform: scale(1.05);
}

@media (max-width: 650px) {
    .thank-you {
        width: 100%;
        box-shadow: 0 0 0;
    }
}

@media (max-width: 550px) {
    .thank-you h1 {
        font-size: 20px;
    }

    .thank-you p {
        font-size: 15px;
    }

    .thank-you button {
        font-size: 12px;
    }
}