dialog {
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

dialog h1 {
    color: #1b4965;
    font-size: 30px;
}

dialog p {
    margin: 20px 0;
    font-size: 20px;
}


dialog button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1b4965;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.3s;
    font-size: 15px;
}

dialog button:hover {
    transform: scale(1.05);
}

::backdrop {
    background-color: rgba(0 0 0 / 50%)
}

#membership-data {
    width: 600px;;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

#membership-data h1 {
    font-size: 25px;
    text-align: center;
}

#membership-data li {
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
}

#homeBtn {
    background-color: #1b4965;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

#homeBtn:hover {
    transform: scale(1.05)
}

@media (max-width: 650px) {
    dialog {
        width: 90%;
    }

    #membership-data {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 550px) {
    dialog h1,
    #membership-data h1 {
        font-size: 20px;
    }

    dialog p,
    #membership-data li {
        font-size: 15px;
    }

    dialog button {
        font-size: 12px;
    }

    #homeBtn {
        padding: 10px 20px;
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    #membership-data h1 {
        font-size: 15px;
    }

    #membership-data li {
        font-size: 12px;
        margin-top: 10px;
    }

    #homeBtn {
        font-size: 10px;
        margin-top: 10px;
    }
}